/*ALL*/
@font-face {
    font-family: Roboto-Light;
    src: url(Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(Roboto-Regular.ttf);
}

.padding-right-20 {
    padding-right: 20px;
}

body {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    font-family: Roboto-Regular, serif;
    background: #f5f5f5;;
}

/* HEADER*/

div#logo {
    font-size: 1.5em;
    color: white;
    padding: 5px 0 8px 15px;
}

.logo, .logo:hover {
    color: white;
}

.header {
    background-color: #3f51b5;
    box-shadow: 0 1px 20px 0 #bdbdbd;
    z-index: 999;
}

#calendar_button {
    display: none;
}

.calendar-icon {
    border-radius: 30px;
}

.calendar-icon:hover {
    background: #007bff;
}

.top_calendar {
    display: none;
    position: absolute;
    top: 60px;
    right: 15px;
}

/*CARDS*/
.group_name {
    margin: 0 10px 0 0;
    width: 100px;
}

.none-group {
    text-align: center;
    color: #3f51b5;
    font-size: 1.5em;
    margin: 25px 0 10px 0;
    vertical-align: middle;
}

.start .donat_container {
    margin-bottom: 0;
}

.start_week {
    z-index: 1;
    min-width: 400px;
}

div#border_num_week {
    margin: 0 0 15px 0;
    border-bottom: 1px solid #0000005e;
}

div#num_week {
    width: 130px;
    margin: 0 auto -15px auto;
    text-align: center;
    font-family: Roboto-Light, serif;
    font-size: 1.2em;
    background-color: #f5f5f5;
    color: #000000;
}

.cards {
    min-width: 300px;
    position: relative;
    margin-top: 65px;
}

#maket {
    width: 100%; /* Ширина всей таблицы */
    line-height: normal;
}

div#date {
    font-size: 1.2em;
    padding: 70px 0 0 5px;
    margin-top: -60px;
}

div#day {
    background-color: white;
    box-shadow: 0 3px 6px 1px #bdbdbd59;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 10px;
}

TD {
    vertical-align: top;
}

TD#time {
    width: 50px;
    font-size: 1.1em;
    color: red;
    padding: 5px 15px 5px 5px;
}

TD#lesson {
    padding: 5px 0 0 0;
}

div#dist {
    min-height: 27px;
    font-size: 1.1em;
}

div#aud {
    color: green;
    font-size: 1em;
}

div#teacher {
    font-size: 0.9em;
}

div#border {
    margin: 5px 10px 0 -5px;
    border-bottom: 1px solid #e0e0e5b8;
}

div#sun {
    font-size: 1em;
    text-align: center;
}

.donat_container {
    margin-bottom: 110px;
    position: fixed;
}

.donat {
    background-color: white;
    box-shadow: 0 3px 6px 1px #bdbdbd59;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
}

.donat_lable {
    font-size: 1.5em;
    color: #3f51b5;
    margin-bottom: 10px;
}

.donat_input {
    width: 100%;
    margin-bottom: 10px;
    border: solid 1px #bdbdbd87;
    border-radius: 6px;
    padding: 5px 10px;
    resize: none;
    outline: none;
}

.radio_bottom {
    width: 16px;
    height: 16px;
    outline: none;
    margin: 0 10px 0 5px;
    background-color: #aaa;
}

.donats_submit {
    height: 40px;
    width: 120px;
    border-radius: 80px;
    color: white;
    background-color: #3f51b5;
    outline: none;
    border: none;
    margin-top: 10px;
}

.calendar {
    display: flex;
}

.feedback {
    color: #939393;
}

/*TABLE*/
.work_zone {
    position: fixed;
    cursor: move;
}

.cards_table {
    overflow: auto;
}

.one_day {
    display: flex;
}

.one_day #card {
    font-size: 0.5em;
    margin-right: 15px;
}

.num_week {
    font-size: 1.5em;
}

.one_day #card #day {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px 5px 10px;
}

.one_day #card #day TD#lesson #dist {
    min-height: auto;
}

.one_day #card #day TD#time {
    width: 32px;
}

.one_day #card #day TD#lesson {
    overflow: hidden;
    text-overflow: ellipsis;
}

.one_day #card #day table#maket {
    table-layout: fixed;

}

/* CALENDAR */
.datepicker {
    background: white;
    box-shadow: 0 3px 6px 1px #bdbdbd59;
    border-radius: 10px;
    /* margin-top: 10px; */
    margin-bottom: 15px;
    padding: 20px 14px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.datepicker table tr td.active {
    background-image: none;
    background-color: #1e7e34;
}

/*NOTIFICATIONS*/
.toast_tail{
    background-color: white;
    box-shadow: 0 0.2rem 1rem 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: none;
    border-radius: 10px;
}

.notification_header{
    color: white;
    background-color: rgb(63, 81, 181);
}

.notification_close{
    color: white;
}

/*BOTTOMS*/
div#bottom_gr {
    float: right;
    bottom: 46px;
    right: 215px;
    height: 65px;
    width: 65px;
    border-radius: 80px;
    background-color: #3f51b5;
    z-index: 9999;
}

#bg {
    display: inline-flex;
    justify-content: flex-end;
    height: 67px;
    width: 275px;
    border-radius: 80px;
    background-color: white;
    box-shadow: 0 3px 6px 1px #bdbdbd59;
    color: #3f51b5;
    border: solid 1px #bdbdbd59;
}

#select {
    width: 195px;
    height: 65px;
    border: none;
    color: #3f51b5;
    font-size: 27px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    text-align-last: center;
    padding: 0 0 0 20px;
}

.bottom {
    position: relative;
    top: 2px;
    height: 65px;
    width: 65px;
    border-radius: 80px;
    background-color: #3f51b5;
    box-shadow: 0 3px 6px 1px #bdbdbd59;
    padding: 13px 0 0 13px;
    margin-left: 10px;
}

.group_container {
    /*position: relative;*/
    /*left: 10px;*/
}

#group_submit {
    outline: none;
    border: none;
    background: rgba(0, 0, 0, 0) url(send.svg);
    height: 65px;
    width: 65px;
}

.bottoms {
    padding-bottom: 20px;
}

.light_bottom {
    border-radius: 80px;
    background-color: #ffffff;
    border: 1px solid #3f51b438;
    box-shadow: 0 3px 6px 1px #bdbdbd6e;
    margin-bottom: 10px;
    color: #3F51B4;
    font-weight: 600;
    font-size: 15px;
    padding: 5px;
    cursor: pointer;
}

.light_bottom:hover {
    background-color: #f0f2ff;
    border-color: #8ea0ff;
}

.light_bottom:not(:disabled):not(.disabled):active {
    background-color: #d3d9ff;
}

.round_bottom {
    height: 60px;
    width: 60px;
}

.round_bottom-50 {
    height: 50px;
    width: 50px;
}

/*ZOOM*/
.fix-middle-right {
    position: fixed;
    bottom: 50%;
    right: 0;
    z-index: 1040;
}

.zoom_bottoms {
    display: flex;
    height: 180px;
    flex-direction: column;
}

#undo_zoom {
    display: none;
}

.last_upload_date{
    margin: 10px 0;
}


@media (max-width: 767.98px) {
    .donat_container {
        position: relative;
    }

    .calendar {
        display: none;
    }

    .top_calendar {
        display: none;
    }

    #calendar_button {
        display: block;
    }
}